# Node modules
node_modules/

# Build output
dist/

# Environment variables
.env

# Logs
*.log

# npm package lock file
package-lock.json

# TypeScript cache
*.tsbuildinfo

# IDE-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
